<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.risney.spotify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCompatTheme">
        <activity android:name="org.risney.cache.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name="org.risney.cache.android.SettingsActivity"></activity>
        <activity
            android:name="org.risney.cache.android.ImageViewActivity"
            android:label="@string/title_activity_image_view"
            android:parentActivityName="org.risney.cache.android.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.risney.cache.android.MainActivity" />
        </activity>
    </application>

</manifest>